
<div class="card">
  <div class="card-header">
    <h1 class="card-title">
   
      Nuevo Evento
    </h1>
  </div>

<div class="card-body">
 <%= render 'form', evento: @evento %>  
 <%= link_to 'Atras', eventos_path %>
</div>
</div>
